body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.thumbnail {
    border-width: 0;
}

.category_title {
    color: slategrey;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

img {
    max-height: 100%;
    max-width: 100%;
}

.artwork {
    padding-top: 100%;
    height: 0;
    position: relative;
}

.avatar {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-image: linear-gradient(135deg,#70929c,#8e8485);
}

.placeholder {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(135deg,#70929c,#8e8485);
}

.description {
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: right;
}

.track_title, .track_uploader {
    font-family: "Helvetica", "Arial", sans-serif;
}


.truncated {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.track_title {
    color: #999;
    font-size: 14px;
}

.track_uploader {
    color: #AAA;
    font-size: 12px;
    word-break: normal;
}

.track_title a:link, .track_title a:active {
    color: #AAA;
}

.track_title a:hover, .track_title a:visited {
    color: #777;
}


.track_uploader a:link, .track_uploader a:active {
    color: #888;
}

.track_uploader a:hover, .track_uploader a:visited {
    color: #555;
}

.spinner {
    display: inline-block;
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}