@{
    ViewBag.Title = "Playlists you saved";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}
<div class="container">
    <h4 class="category_title">Playlists saved</h4>
    <ul id="playlistContainer">
        <li class="spinner" style="display: none">
            <div class="col-md-12">
                <div class="loader"></div>
            </div>
        </li>
    </ul>
</div>